In [5]:
import pandas as pd
import numpy as np
from hxl_tag import HXLTagger

hxl_tagger = HXLTagger()

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

In [4]:
df = pd.read_pickle('./datasets/with_feature_extraction_2/wikidata.p')

In [6]:
l1 = df[df['attribute_match']==1]

In [22]:
vals  = l1.values[10]
vals

array(['musicians_unionable_source', 'musicians_unionable_target',
       'genreLabel', 'kind', 1,
       list([0.36772706316274784, 1, 336, 28, 3, 11.094356132419426, 0, 0, 0, 0, 0, 0, 0, 0, 0.36772706316274784, 1, 152, 31, 3, 11.749453113606533, 0, 0, 0, 0, 0, 0, 0, 0, 1.0, 0.0, 0.051917748286422594, 0.410445205144053, 0.3189441446696806, 0])],
      dtype=object)

In [23]:
df1

,musicianID,musicianName,genderType,birthDate,city,familyName,forename,fatherName,motherName,spouse,NChildren,kind,webpage,residence,ethnicity,religionLabel,kickoff,twitterUsername,geniusNameLabel,recordCompany
0,http://www.wikidata.org/entity/Q6096,Bigg Snoop Dogg,m,1971-10-20T00:00:00Z,Long Beach,Broadus,Cordozar,NaN,NaN,NaN,4.0,African-American music,http://snoopdogg.com/,NaN,African Americans,Islam,1991-01-01T00:00:00Z,snoopdogg,Snoop-dogg,Death Row Records
1,http://www.wikidata.org/entity/Q5977,00085469927 IPI,m,1936-09-07T00:00:00Z,Lubbock,Holley,Hardin,NaN,NaN,Maria Elena Holly,NaN,rock and roll,http://www.buddyholly.com,NaN,NaN,Baptists,1952-01-01T00:00:00Z,NaN,Buddy-holly,Brunswick
2,http://www.wikidata.org/entity/Q8349,Al Yankovic,m,1959-10-23T00:00:00Z,Downey,Yankovic,Alfred,Nick Louis Yankovic,Mary Yankovic,Suzanne Yankovic,NaN,humor,http://weirdal.com/,NaN,NaN,Christianity,1976-01-01T00:00:00Z,alyankovic,Weird-al-yankovic,Volcano Entertainment
3,http://www.wikidata.org/entity/Q1779,Pops,m,1901-08-04T00:00:00Z,New Orleans,Armstrong,Louis,NaN,NaN,Lil Hardin Armstrong,NaN,popular music,http://www.louisarmstronghouse.org/,NaN,African Americans,NaN,1914-01-01T00:00:00Z,NaN,NaN,Decca
4,http://www.wikidata.org/entity/Q4270,Ava DeLonge,m,1975-12-13T00:00:00Z,Poway,Delonge,Thomas,NaN,NaN,Jennifer DeLonge,NaN,pop music,http://blink-182.com/,Del Mar,NaN,NaN,1992-01-01T00:00:00Z,tomdelonge,Tom-delonge,DGC Records
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10840,http://www.wikidata.org/entity/Q65463024,Miko Cree,m,1901-01-01T00:00:00Z,Florida,Gonz√°lez,Credo,NaN,NaN,NaN,NaN,dance music,NaN,NaN,NaN,NaN,2017-01-01T00:00:00Z,MikoCree,mikocreed,Latin Sumo Records
10841,http://www.wikidata.org/entity/Q61000234,Casado com Sina Deinert,m,2001-03-31T00:00:00Z,Orange,Urrea,Noah,NaN,NaN,NaN,NaN,NaN,https://www.noahurrea.com/,NaN,NaN,NaN,NaN,noahurrea,Noah-urrea,NaN
10842,http://www.wikidata.org/entity/Q61693947,NaN,f,2001-05-03T00:00:00Z,Clifton,NaN,Rachel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rachelzegler,Rachel-zegler,NaN
10843,http://www.wikidata.org/entity/Q75046320,NaN,f,2002-03-31T00:00:00Z,Walnut Creek,Walker,Lexi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10844,http://www.wikidata.org/entity/Q64225559,Sully,m,1987-07-27T00:00:00Z,R√≠o Piedras,Leon,Jessell,NaN,NaN,NaN,NaN,popular music,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
path_ = r'C:\Users\shepe\Downloads\Valentine-datasets\Wikidata\Musicians\Musicians_unionable'
all_data_name1 = 'musicians_unionable'
data_name1 = all_data_name1+'_source'
df1 = pd.read_csv(r'{}\{}'.format(path_,data_name1+'.csv'))
table1_hxl_tags = hxl_tagger.get_hxl_tags(df1)
table1_hxl_tags

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 20/20 [01:11<00:00,  3.58s/it]

[{'tagname': 'url', 'attributes': ['musician'], 'full': '#url+musician'},
 {'tagname': 'person', 'attributes': ['label'], 'full': '#person+label'},
 {'tagname': 'gender', 'attributes': ['label'], 'full': '#gender+label'},
 {'tagname': 'date', 'attributes': ['birth'], 'full': '#date+birth'},
 {'tagname': 'city', 'attributes': ['label'], 'full': '#city+label'},
 {'tagname': 'family', 'attributes': ['name'], 'full': '#family+name'},
 {'tagname': 'name', 'attributes': ['label'], 'full': '#name+label'},
 {'tagname': 'person',
  'attributes': ['name', 'label'],
  'full': '#person+name+label'},
 {'tagname': 'person',
  'attributes': ['name', 'mother'],
  'full': '#person+name+mother'},
 {'tagname': 'person', 'attributes': ['name'], 'full': '#person+name'},
 {'tagname': 'count', 'attributes': ['children'], 'full': '#count+children'},
 {'tagname': 'genre', 'attributes': ['label'], 'full': '#genre+label'},
 {'tagname': 'url', 'attributes': ['website'], 'full': '#url+website'},
 {'tagname': 'geo', 'attributes': ['residence'], 'full': '#geo+residence'},
 {'tagname': 'ethnicity', 'attributes': ['label'], 'full': '#ethnicity+label'},
 {'tagname': 'religion', 'attributes': ['label'], 'full': '#religion+label'},
 {'tagname': 'date', 'attributes': ['start'], 'full': '#date+start'},
 {'tagname': 'twitter', 'attributes': ['name'], 'full': '#twitter+name'},
 {'tagname': 'genius', 'attributes': ['name'], 'full': '#genius+name'},
 {'tagname': 'label', 'attributes': ['record'], 'full': '#label+record'}]

In [13]:
path_ = r'C:\Users\shepe\Downloads\Valentine-datasets\Wikidata\Musicians\Musicians_unionable'
all_data_name1 = 'musicians_unionable'
data_name1 = all_data_name1+'_target'
df1 = pd.read_csv(r'{}\{}'.format(path_,data_name1+'.csv'))
table1_hxl_tags = hxl_tagger.get_hxl_tags(df1)
table1_hxl_tags

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 20/20 [01:17<00:00,  3.86s/it]

[{'tagname': 'id', 'attributes': ['musician'], 'full': '#id+musician'},
 {'tagname': 'name', 'attributes': ['musician'], 'full': '#name+musician'},
 {'tagname': 'gender', 'attributes': ['type'], 'full': '#gender+type'},
 {'tagname': 'date', 'attributes': ['birth'], 'full': '#date+birth'},
 {'tagname': 'city', 'attributes': ['name'], 'full': '#city+name'},
 {'tagname': 'family', 'attributes': ['name'], 'full': '#family+name'},
 {'tagname': 'name', 'attributes': ['fore'], 'full': '#name+fore'},
 {'tagname': 'name', 'attributes': ['father'], 'full': '#name+father'},
 {'tagname': 'name', 'attributes': ['mother'], 'full': '#name+mother'},
 {'tagname': 'name', 'attributes': ['spouse'], 'full': '#name+spouse'},
 {'tagname': 'children', 'attributes': ['n'], 'full': '#children+n'},
 {'tagname': 'genre', 'attributes': ['kind'], 'full': '#genre+kind'},
 {'tagname': 'url', 'attributes': ['webpage'], 'full': '#url+webpage'},
 {'tagname': 'geo', 'attributes': ['residence'], 'full': '#geo+residence'},
 {'tagname': 'ethnicity', 'attributes': [], 'full': '#ethnicity'},
 {'tagname': 'religion', 'attributes': ['label'], 'full': '#religion+label'},
 {'tagname': 'date', 'attributes': ['kickoff'], 'full': '#date+kickoff'},
 {'tagname': 'user', 'attributes': ['name'], 'full': '#user+name'},
 {'tagname': 'name', 'attributes': ['genius'], 'full': '#name+genius'},
 {'tagname': 'company', 'attributes': ['name'], 'full': '#company+name'}]

In [17]:
names_ = ['–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π', '–ù–µ —á–∏—Å–ª–æ–≤–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ', 
         '–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π', '–ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –¥–ª–∏–Ω–∞ (str)', '–ú–∏–Ω–∏–º–∞–ª—å–Ω–∞—è –¥–ª–∏–Ω–∞ (str)', '–°—Ä–µ–¥–Ω—è—è –¥–ª–∏–Ω–∞ (str)',
         '–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–Ω–∞—á–µ–Ω–∏–π –Ω–µ–Ω—É–ª–µ–≤—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π (not str)', '–°—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ (not str)','–°—Ä–µ–¥–Ω–µ–∫–≤–∞–¥—Ä–∞—Ç–∏—á–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ (not str)',
         '–ú–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ (not str)','–ü—Ä–æ—Ü–µ–Ω—Ç–∏–ª—å 25% (not str)','–ü—Ä–æ—Ü–µ–Ω—Ç–∏–ª—å 50% (not str)','–ü—Ä–æ—Ü–µ–Ω—Ç–∏–ª—å 75% (not str)','–ú–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ(not str)']
names_2 = ['–ü—Ä–∏–∑–Ω–∞–∫ –∏–∑ —Ç—ç–≥–æ–≤ (blue score)','–ü—Ä–∏–∑–Ω–∞–∫ –∏–∑ —Ç—ç–≥–æ–≤ (jaccard score)','–†–∞—Å—Å—Ç–æ—è–Ω–∏—è –•—ç–º–º–∏–Ω–≥–∞ (str)', '—Å—Ö–æ–¥—Å—Ç–≤–æ –î–∂–∞—Ä–æ-–í–∏–Ω–∫–ª–µ—Ä–∞ (str)'
           , '–ö–æ—Å–∏–Ω—É—Å–Ω–æ–µ —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ (str)', '–ö–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–∏ (not str)']

In [25]:
df2 = pd.DataFrame(zip(names_, vals[-1][:14]),columns = ['–ù–∞–∑–≤–∞–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∞','–ó–Ω–∞—á–µ–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∞'])
df2.style.hide()

In [26]:
df2 = pd.DataFrame(zip(names_, vals[-1][14:28]),columns = ['–ù–∞–∑–≤–∞–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∞','–ó–Ω–∞—á–µ–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∞'])
df2.style.hide()

In [27]:
df2 = pd.DataFrame(zip(names_2, vals[-1][28:]),columns = ['–ù–∞–∑–≤–∞–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∞','–ó–Ω–∞—á–µ–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∞'])
df2.style.hide()

In [84]:
df = pd.read_pickle('./datasets/with_feature_extraction_2/train_tpc16.p')

In [85]:
l1 = df[df['attribute_match']==1]

In [86]:
vals  = l1.values[31]
vals

array(['prospect_horizontal_50_ac1_ev_source',
       'prospect_horizontal_50_ac1_ev_target', 'State', 'prospect_State',
       1,
       list([0.0, 1, 61, 20, 2, 3.5229619081523675, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 1, 61, 20, 2, 3.5422507008410093, 0, 0, 0, 0, 0, 0, 0, 0, 1.0, 0.0, 0.01708717127219328, 0.8041044422388991, 0.9518088372713923, 0])],
      dtype=object)

In [103]:
import pandas as pd
path_ = r'C:\Users\shepe\Downloads\Valentine-datasets\prospect\Unionable'
all_data_name1 = 'prospect_horizontal_50_ac1_ev'
data_name1 = all_data_name1+'_source'
df1 = pd.read_csv(r'{}\{}\{}'.format(path_, all_data_name1,data_name1+'.csv'))

In [104]:
table1_hxl_tags = hxl_tagger.get_hxl_tags(df1)
table1_hxl_tags

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 22/22 [01:10<00:00,  3.18s/it]

[{'tagname': 'id', 'attributes': ['agency'], 'full': '#id+agency'},
 {'tagname': 'name', 'attributes': ['last'], 'full': '#name+last'},
 {'tagname': 'name', 'attributes': [], 'full': '#name'},
 {'tagname': 'middle', 'attributes': ['initial'], 'full': '#middle+initial'},
 {'tagname': 'gender', 'attributes': ['name'], 'full': '#gender+name'},
 {'tagname': 'geo', 'attributes': ['address'], 'full': '#geo+address'},
 {'tagname': 'address', 'attributes': ['line'], 'full': '#address+line'},
 {'tagname': 'postcode', 'attributes': [], 'full': '#postcode'},
 {'tagname': 'city', 'attributes': ['name'], 'full': '#city+name'},
 {'tagname': 'state', 'attributes': ['name'], 'full': '#state+name'},
 {'tagname': 'country', 'attributes': ['name'], 'full': '#country+name'},
 {'tagname': 'phone', 'attributes': ['name'], 'full': '#phone+name'},
 {'tagname': 'income', 'attributes': [], 'full': '#income'},
 {'tagname': 'car', 'attributes': ['number'], 'full': '#car+number'},
 {'tagname': 'count', 'attributes': ['children'], 'full': '#count+children'},
 {'tagname': 'status', 'attributes': ['marriage'], 'full': '#status+marriage'},
 {'tagname': 'age', 'attributes': [], 'full': '#age'},
 {'tagname': 'score', 'attributes': ['credit'], 'full': '#score+credit'},
 {'tagname': 'property',
  'attributes': ['owner', 'rental'],
  'full': '#property+owner+rental'},
 {'tagname': 'org', 'attributes': ['name'], 'full': '#org+name'},
 {'tagname': 'number',
  'attributes': ['creditcards'],
  'full': '#number+creditcards'},
 {'tagname': 'value', 'attributes': ['networth'], 'full': '#value+networth'}]

In [105]:
data_name1 = all_data_name1+'_target'
df2 = pd.read_csv(r'{}\{}\{}'.format(path_, all_data_name1,data_name1+'.csv'))
table2_hxl_tags = hxl_tagger.get_hxl_tags(df2)

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 22/22 [01:21<00:00,  3.68s/it]

In [106]:
table2_hxl_tags

[{'tagname': 'id', 'attributes': ['prospect'], 'full': '#id+prospect'},
 {'tagname': 'person', 'attributes': ['name'], 'full': '#person+name'},
 {'tagname': 'person', 'attributes': ['name'], 'full': '#person+name'},
 {'tagname': 'id', 'attributes': ['prospect'], 'full': '#id+prospect'},
 {'tagname': 'gender', 'attributes': ['prospect'], 'full': '#gender+prospect'},
 {'tagname': 'email', 'attributes': ['prospect'], 'full': '#email+prospect'},
 {'tagname': 'email', 'attributes': ['prospect'], 'full': '#email+prospect'},
 {'tagname': 'postal', 'attributes': ['code'], 'full': '#postal+code'},
 {'tagname': 'city', 'attributes': ['prospect'], 'full': '#city+prospect'},
 {'tagname': 'state', 'attributes': ['prospect'], 'full': '#state+prospect'},
 {'tagname': 'country',
  'attributes': ['prospect'],
  'full': '#country+prospect'},
 {'tagname': 'phone', 'attributes': ['prospect'], 'full': '#phone+prospect'},
 {'tagname': 'income', 'attributes': ['prospect'], 'full': '#income+prospect'},
 {'tagname': 'pred', 'attributes': ['numbercars'], 'full': '#pred+numbercars'},
 {'tagname': 'pred',
  'attributes': ['number', 'children'],
  'full': '#pred+number+children'},
 {'tagname': 'status', 'attributes': ['mortgage'], 'full': '#status+mortgage'},
 {'tagname': 'age', 'attributes': ['prospect'], 'full': '#age+prospect'},
 {'tagname': 'rating', 'attributes': ['prospect'], 'full': '#rating+prospect'},
 {'tagname': 'property',
  'attributes': ['owner', 'or', 'rent'],
  'full': '#property+owner+or+rent'},
 {'tagname': 'person',
  'attributes': ['name', 'employer'],
  'full': '#person+name+employer'},
 {'tagname': 'id', 'attributes': ['creditcard'], 'full': '#id+creditcard'},
 {'tagname': 'value', 'attributes': ['networth'], 'full': '#value+networth'}]

In [87]:
vals[-1][:14]

[0.0, 1, 61, 20, 2, 3.5229619081523675, 0, 0, 0, 0, 0, 0, 0, 0]

In [14]:
names_ = ['–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π', '–ù–µ —á–∏—Å–ª–æ–≤–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ', 
         '–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π', '–ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –¥–ª–∏–Ω–∞ (str)', '–ú–∏–Ω–∏–º–∞–ª—å–Ω–∞—è –¥–ª–∏–Ω–∞ (str)', '–°—Ä–µ–¥–Ω—è—è –¥–ª–∏–Ω–∞ (str)',
         '–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–Ω–∞—á–µ–Ω–∏–π –Ω–µ–Ω—É–ª–µ–≤—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π (not str)', '–°—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ (not str)','–°—Ä–µ–¥–Ω–µ–∫–≤–∞–¥—Ä–∞—Ç–∏—á–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ (not str)',
         '–ú–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ (not str)','–ü—Ä–æ—Ü–µ–Ω—Ç–∏–ª—å 25% (not str)','–ü—Ä–æ—Ü–µ–Ω—Ç–∏–ª—å 50% (not str)','–ü—Ä–æ—Ü–µ–Ω—Ç–∏–ª—å 75% (not str)','–ú–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ(not str)']

In [89]:
zip(names_, vals[-1][:14])

In [90]:
df2 = pd.DataFrame(zip(names_, vals[-1][:14]),columns = ['–ù–∞–∑–≤–∞–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∞','–ó–Ω–∞—á–µ–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∞'])

In [91]:
df2.style.hide()

In [92]:
df2 = pd.DataFrame(zip(names_, vals[-1][14:28]),columns = ['–ù–∞–∑–≤–∞–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∞','–ó–Ω–∞—á–µ–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∞'])
df2.style.hide()

In [93]:
names_2 = ['–ü—Ä–∏–∑–Ω–∞–∫ –∏–∑ —Ç—ç–≥–æ–≤ (blue score)','–ü—Ä–∏–∑–Ω–∞–∫ –∏–∑ —Ç—ç–≥–æ–≤ (jaccard score)','–†–∞—Å—Å—Ç–æ—è–Ω–∏—è –•—ç–º–º–∏–Ω–≥–∞ (str)', '—Å—Ö–æ–¥—Å—Ç–≤–æ –î–∂–∞—Ä–æ-–í–∏–Ω–∫–ª–µ—Ä–∞ (str)'
           , '–ö–æ—Å–∏–Ω—É—Å–Ω–æ–µ —Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ (str)', '–ö–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–∏ (not str)']

In [94]:
df2 = pd.DataFrame(zip(names_2, vals[-1][28:]),columns = ['–ù–∞–∑–≤–∞–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∞','–ó–Ω–∞—á–µ–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∞'])
df2.style.hide()

In [95]:
vals  = l1.values[34]
vals

array(['prospect_horizontal_50_ac1_ev_source',
       'prospect_horizontal_50_ac1_ev_target', 'Income',
       'prospect_Income', 1,
       list([0.04983980064079744, 0, 10542, 0, 0, 0, 10676.0, 250198.03372049457, 144477.48164462842, 5.0, 124119.5, 252075.0, 375964.25, 499991.0, 0.050193565612067816, 0, 7050, 0, 0, 0, 7115.0, 252548.37723120168, 143471.95450001044, 25.0, 128525.5, 254093.0, 374778.0, 499967.0, 0.037374807627842434, 0.0, 0, 0, 0, 0.022947972723591024])],
      dtype=object)

In [96]:
df2 = pd.DataFrame(zip(names_, vals[-1][:14]),columns = ['–ù–∞–∑–≤–∞–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∞','–ó–Ω–∞—á–µ–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∞'])
df2.style.hide()

In [97]:
df2 = pd.DataFrame(zip(names_, vals[-1][14:28]),columns = ['–ù–∞–∑–≤–∞–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∞','–ó–Ω–∞—á–µ–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∞'])
df2.style.hide()

In [101]:
df2 = pd.DataFrame(zip(names_2, vals[-1][28:]),columns = ['–ù–∞–∑–≤–∞–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∞','–ó–Ω–∞—á–µ–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–∞'])
df2.style.hide()