In [1]:
from hxl_tag import HXLTagger

hxl_tagger = HXLTagger()

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

In [14]:
import numpy as np

In [2]:
import pandas as pd
path_ = r'C:\Users\shepe\Downloads\Valentine-datasets\prospect\Unionable'
all_data_name1 = 'prospect_horizontal_50_ec_av'
data_name1 = all_data_name1+'_source'
df1 = pd.read_csv(r'{}\{}\{}'.format(path_, all_data_name1,data_name1+'.csv'))

In [3]:
table1_hxl_tags = hxl_tagger.get_hxl_tags(df1)
table1_hxl_tags

100%|██████████████████████████████████████████████████████████████████████████████████| 22/22 [01:08<00:00,  3.09s/it]

[{'tagname': 'id', 'attributes': ['agency'], 'full': '#id+agency'},
 {'tagname': 'name', 'attributes': ['last'], 'full': '#name+last'},
 {'tagname': 'name', 'attributes': [], 'full': '#name'},
 {'tagname': 'id', 'attributes': ['middle'], 'full': '#id+middle'},
 {'tagname': 'gender', 'attributes': ['name'], 'full': '#gender+name'},
 {'tagname': 'address', 'attributes': ['line'], 'full': '#address+line'},
 {'tagname': 'address', 'attributes': ['line'], 'full': '#address+line'},
 {'tagname': 'postcode', 'attributes': [], 'full': '#postcode'},
 {'tagname': 'city', 'attributes': ['name'], 'full': '#city+name'},
 {'tagname': 'state', 'attributes': ['name'], 'full': '#state+name'},
 {'tagname': 'country', 'attributes': ['name'], 'full': '#country+name'},
 {'tagname': 'phone', 'attributes': ['name'], 'full': '#phone+name'},
 {'tagname': 'income', 'attributes': [], 'full': '#income'},
 {'tagname': 'car', 'attributes': ['number'], 'full': '#car+number'},
 {'tagname': 'score', 'attributes': ['children'], 'full': '#score+children'},
 {'tagname': 'status', 'attributes': ['marriage'], 'full': '#status+marriage'},
 {'tagname': 'age', 'attributes': [], 'full': '#age'},
 {'tagname': 'score', 'attributes': ['credit'], 'full': '#score+credit'},
 {'tagname': 'property',
  'attributes': ['owning', 'rent'],
  'full': '#property+owning+rent'},
 {'tagname': 'person', 'attributes': ['employer'], 'full': '#person+employer'},
 {'tagname': 'number',
  'attributes': ['creditcards'],
  'full': '#number+creditcards'},
 {'tagname': 'value', 'attributes': ['networth'], 'full': '#value+networth'}]

In [4]:
df1.head()

,AgencyID,LastName,FirstName,MiddleInitial,Gender,AddressLine1,AddressLine2,PostalCode,City,State,...,Income,NumberCars,NumberChildren,MaritalStatus,Age,CreditRating,OwnOrRentFlag,Employer,NumberCreditCards,NetWorth
0,PEL0,PELLAND,Netti,NaN,f,21847 olympia street,NaN,T6b 1i1,Fairbanks,MA,...,368776.0,NaN,3.0,W,20.0,760.0,O,Brink's,NaN,1058868.0
1,LED1,LEDUC,TRUDY,NaN,F,245 congress court,APT. 624,77281,Quebec,PA,...,177967.0,5.0,1.0,U,3.0,555.0,U,NaN,6.0,1988185.0
2,lat2,latif,ireland,NaN,NaN,6517 frailing west,NaN,91355,Henderson,Alberta,...,321772.0,2.0,1.0,S,NaN,566.0,O,NaN,6.0,3673128.0
3,RUD3,RUDDICK,Misti,NaN,NaN,11449 blalock park,NaN,36615,Salem,AR,...,25449.0,2.0,1.0,W,77.0,NaN,O,Air Products & Chemicals,3.0,2005895.0
4,JAY4,JAYAMANNE,sarena,M,f,18354 dodd court,Apt. 619,t6a 1i3,Toledo,OR,...,166567.0,0.0,3.0,M,21.0,815.0,O,Oshkosh,4.0,624736.0

In [6]:
table1_hxl_tags[0]

{'tagname': 'id', 'attributes': ['agency'], 'full': '#id+agency'}

In [12]:
from nltk.translate import bleu
from nltk.translate.bleu_score import SmoothingFunction
smoothie = SmoothingFunction().method4

def jaccard_score(list1, list2):
    """
    Calculate jaccard score between two lists.
    """
    set1 = set(list1)
    set2 = set(list2)
    # prevent zero division
    if len(set1.union(set2)) == 0:
        return 0
    return len(set1.intersection(set2)) / len(set1.union(set2))

def get_hxl_tags_features(hxl_tags1, hxl_tags2):
    """
    Use some rules to calculate features.
    """
    tagname_bleu_score = bleu([hxl_tags1["tagname"]], hxl_tags2["tagname"], smoothing_function=smoothie)
    attribute_jaccard_score = jaccard_score(hxl_tags1["attributes"], hxl_tags2["attributes"])
    #full_transformer_score = transformer_similarity(hxl_tags1["full"], hxl_tags2["full"]) 
    hxltags_features = np.array([tagname_bleu_score, attribute_jaccard_score])
    return hxltags_features

In [9]:
data_name1 = all_data_name1+'_target'
df2 = pd.read_csv(r'{}\{}\{}'.format(path_, all_data_name1,data_name1+'.csv'))
table2_hxl_tags = hxl_tagger.get_hxl_tags(df2)

100%|██████████████████████████████████████████████████████████████████████████████████| 22/22 [01:08<00:00,  3.13s/it]

In [15]:
c1 = table1_hxl_tags[0]
c2 = table2_hxl_tags[0]
hxl_tags_features = get_hxl_tags_features(c1, c2)

In [17]:
c1,c2

({'tagname': 'id', 'attributes': ['agency'], 'full': '#id+agency'},
 {'tagname': 'id', 'attributes': ['agency'], 'full': '#id+agency'})

In [16]:
hxl_tags_features

array([0.22138859, 1.        ])